@import url(https://fonts.googleapis.com/css?family=Roboto);

:root {
  --main: #333;
  --bg: #f9f9f9;
  --accent: steelblue;
  --noactive: #d5d5d5;
}

//body {
//  background: var(--bg);
//  color: var(--main);
//  font-family: Roboto, sans-serif;
//}

form.calc {
  transition: all 1s linear;
  position: relative;
  height: 800px;
  width: auto;
  span {
    font-size: 16px;
    text-align: left;
  }

  .title {
    display: inline-flex;
    flex-direction: row;
    margin-bottom: 55px;
    padding: 10px;
    padding-left: 15px;
    justify-content: space-between;
    align-items: flex-start;
    height: 0;

    span.step {
      display: inline;
      font-size: 24px;
      font-weight: 700;
      text-align: left;
    }

    span.skidka {
      display: inline;
      font-size: 12px;
      font-weight: 100;
      text-align: right;
      margin-top: 10px;
      margin-right: 45px;
    }

    span.btnPrev {
      font-size: 14px;
      a {
        font-size: 16px;
        border-radius: 50%;
        text-decoration: none;
        display: inline-block;
        padding: 8px 16px;
        background-color: #f1f1f1;
        color: black;
        &:hover {
          background-color: #ddd;
          color: black;
        }
      }
    }
  }

  .step1, .step2, .step3 {
    display: flex;
    flex-direction: column;
    //transition: box-shadow .25s ease-out;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    padding: 2rem;
    font-family: Roboto, sans-serif;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 565px;
    transition:all .7s linear;
  }

  /* ШАГ 1 */
  .step1 {
    @import "./step1";
  }

  /* ШАГ 2 */
  .step2 {
    left: 200%;
    @import "./step2";
  }

  /* ШАГ 2 */
  .step3 {
    left: 200%;
    @import "./step3";
  }




  .footer {
    padding: 0px 16px;
    color: white;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
  }

}

.group {
  display: flex;
  position: relative;
  margin-bottom: 25px;

  input[type=text], input[type=date], input[type=time], select  {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 30px;
    cursor: pointer;
    border-bottom: 1px solid #757575;
    appearance: none;
    -webkit-appearance: none;

    &:focus {
      outline: none;
      border-bottom: 2px solid var(--accent);
    }

    &:focus ~ label, &:valid ~ label {
      top: -20px;
      font-size: 14px;
      color: var(--accent);
    }
  }

  select {
    background: #fff url(../img/select.jpg) no-repeat right center;
    padding: 10px 85px 10px 5px;
    height: inherit;
    line-height: inherit;
    margin-top: 10px;
  }

  label:not(.timeradio) {
    color: #999;
    font-size: 18px;
    position: absolute;
    pointer-events: none;
    left: 15px;
    top: 10px;
    transition: .2s ease all;
  }
}

.button, .btnDalee {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0px rgba(0, 0, 0, .14), 0px 1px 3px 0px rgba(0, 0, 0, .12);
  transition: box-shadow .25s ease-out;

  border-radius: 15px;
  background-color: var(--accent);
  padding: .25rem .5rem;
  width: 120px;
  font-size: 18px;
  color: var(--bg);
  border: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  height: inherit;
  line-height: inherit;

  &:hover {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, .2), 0px 8px 10px 1px rgba(0, 0, 0, .14), 0px 3px 14px 2px rgba(0, 0, 0, .12);
  }
}

.btnDalee {
  background-color: var(--noactive);
  color: var(--main);
  margin: 0 auto;
}


.map {
  display: table;
  width: 100%;
  position: relative;
  z-index: 1;
  margin: 0;
}
#map {
  position: relative;
  width: 100%;
  height: 500px;
  z-index: 1;
}

@import './modal.scss';