.timeFeed {
  display: flex;
  flex-direction: row;
  margin-top: 20px;

  .group {
    label {
      margin-right: 95px;
    }
  }

  input[type=radio],
  input.radio {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    width: 20px;
  }
}

.datetime {
  display: flex;

  .group {
    flex-direction: row;

    input {
      width: 230px;
      margin-right: 40px;
    }

  }

}

.addreses > .group {
  input {
    width: 500px;
  }
  span {
    display: block;
    margin-top: 26px;
    margin-left: 8px;
    cursor: pointer;
    font-size: 12px;
    border-bottom: 2px dotted #000;
  }
}

.actions {
  display: inline-flex;
  justify-content: space-between;
  .addAddress, .showMap {
    border-bottom: 2px dotted #000;
    cursor: pointer;
  }
}